body{
    background-color: #a5a58d;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    padding-right: 1400px;
    color: white;  
}


.card-body{
    background-color: white;
}

#main-content{
    text-align: center;
    margin-top: 25px;

}

#name{
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navMenu {
    position: absolute;
    top: 3em;
    right: 2em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #a5a58d;
  }
  
  .navMenu a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 90px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #6b705c;
  }
  
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: #6b705c;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(22px);
    transform: translateX(22px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(22px);
    transform: translateX(22px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(120px);
    transform: translateX(120);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(221px);
    transform: translateX(221x);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  .sidenav {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0px;
    background: #979775;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #6b705c;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-top: 70px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 p{
   font-size: 20px;
} 

